/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/built
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## some vi/vim swap tmp files
*.swl *.swm *.swn *.swo *.swp *.tmp
dump.rdb

## vscode
*.code-workspace
.vscode

##
.editorconfig

## sql dump
/database/sql
